{% extends "layout.html" %}

{% block heading %}
<h1 class="header">This is my 90 day workout log.</h1>
{% endblock %}


{% block body %}

<div class='content'>
    <h1 class='daynumber'>Day 1</h1> 
    <h5>June 8, 2020</h5>
    <p class="debug-center">
        Weighing in after a long weekend of food and drinks the scale read 185, the heaviest I have weighed all year. I read that it takes 90 days for something to become a habit so why not start now. My goal is to workout or run 6 days a week and
        to cut out all unhealthy snacks (with one cheat day). 
    </p>
    <br>
    <h5>The workout</h5>
    <p>
        To start off the week I ran a 5k at a time of 23:41 from the Nike Run app. It was a hot day and the run was tough, however I percerved and finished the run. Motivation is high at this point but it is only day 1.
    </p>
</div>

<div class='content'>
    <h1 class='daynumber'>Day 2</h1> 
    <h5>June 9, 2020</h5>
    <p class="debug-center">
        An evan hotter day at around 92 degrees I had the bright idea to go for a run at 12 o'clock. An easy 5 miles run (I thought) but it turned out to be a tough, sweaty and long run.
    </p>
    <br>
    <h5>The workout</h5>
    <p>
        An "easy" 5 mile run to increase miles but not ruin the week. Ankles and calves were tight and sore for most the run, not sure if this was because of the hot weather or tiredness from Day 1's run. 5 miles was completed in 44:53 at 8'58 / mi.
    </p>
</div>

<div class='content'>
    <h1 class='daynumber'>Day 3</h1> 
    <h5>June 10, 2020</h5>
    <p class="debug-center">
        Felt sore today so I decided to take a rest day in order to prepare for tommorow.
    </p>
    <br>
    <h5>The workout</h5>
    <p>
        Rest Day
    </p>
</div>

<div class='content'>
    <h1 class='daynumber'>Day 4</h1> 
    <h5>June 11, 2020</h5>
    <p class="debug-center">
        Had to get a physcial during the day so decided to do a later workout. Motivation was kind of lacking for the workout but after watching some Nick Bare I decided to break through a wall. It turned out to be a great night to run. I had a few side cramps at the start 
        because of eating dinner only an hour before the run.
    </p>
    <br>
    <h5>The workout</h5>
    <p>
        10k 8'35"/mi 53:23 total
    </p>
</div>

<div class='content'>
    <h1 class='daynumber'>Day 5</h1> 
    <h5>June 12, 2020</h5>
    <p class="debug-center">
        I am pretty sore from my 10k yesterday. I have a softball game tonight but I played basketball earlier in the day.
    </p>
    <br>
    <h5>The workout</h5>
    <p>
        Pickup basketball.
    </p>
</div>


{% endblock %}